# {{ ansible_managed }}
deb [arch={{ config_client_docker_mirror_arch }} signed-by={{ config_client_docker_mirror_signed_by }}] {{ config_client_docker_mirror_origin }}{{ config_client_docker_mirror_path }} {{ config_client_docker_mirror_codename }} {{ config_client_docker_mirror_channel }}
